---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');
@import '../_sass/open-color';


// Our variables
$base-font-family: spoqahansans, lato, 'Noto Sans KR', "Apple SD Gothic Neo", "Nanum Barun Gothic", "Nanum Gothic", Verdana, Arial, "Malgun Gothic", Dotum, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$sub-font-family:  'Roboto Slab', serif;

$spacing-unit:     30px;

$text-color-light: $oc-gray-5;
$text-color:       $oc-gray-7;
$text-color-dark:  $oc-gray-9;
$background-color: $oc-white;
$brand-color:      $oc-blue-5;

$border-color:     $oc-gray-3;
$border-base:      1px solid $border-color;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  $oc-gray-8;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// post variables
$post__desktop_margin:  210px;
$post__desktop_width:   540px; //960px - $post__desktop_margin*2
$post__mobile_margin:   18px;
$post__mobile_width:    100%;



@mixin wrapper {
  width: 960px;
  min-height: 100%;
  margin: 0 auto;
  @media only screen and (max-width: 980px) {
    width: 82%;
  }
}

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

// User adhoc style 
// FIXME: when it turned to blog style, you should delete it


body, html {
  height: 100%;
}

body {
  word-break: keep-all;
}


// selection

.main__container {
  color: $text-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include wrapper;
}

.main__subject_EN {
  font-family: $sub-font-family;
  font-size: 34px;
  line-height: 1.4;
  padding-top: 70px;
  @media only screen and (max-width: 980px) {
    font-size: 24px;
    padding-top: 40px;
  }
  @media only screen and (max-width: 320px) {
    font-size: 20px;
  }
}

.main__subject_KR {
  font-size: 13px;
  color: $text-color-light;
  line-height: 1.8;
  margin-top: 37px;
  margin-bottom: 78px;
  @media only screen and (max-width: 980px) {
    font-size: 16px;
    margin-bottom: 40px;
  }
  @media only screen and (max-width: 320px) {
    font-size: 14px;
  }
}

.main__list {
  margin-bottom: 36px;
}

.main__list div {
  font-size: 17px;
  color: $text-color-light;
  text-transform: lowercase;
  margin-bottom: 16px;
  font-family: $sub-font-family;
  border-top: $border-base;
  padding-top: 20px;
}

.main__list a {
  color: $text-color;
  &:hover {
    color: $text-color-dark;
  }
}

.main__list li {
  list-style: none;
  margin-left: 0;
  font-size: 16px;
  line-height: 1.7;
  @media only screen and (max-width: 980px) {
    margin-left: 17px;
    list-style: circle;
  }
}

.main__list li span {
  color: $text-color-light;
  padding-left: 6px;
}

.main__list__writing li {
  font-size: 15.7px;
  line-height: 1.8;
}

.main__footer {
  font-size: 16px;
  padding-bottom: 36px;
  @media only screen and (max-width: 980px) {
    border-top: $border-base;
    padding-top: 20px;
  }
}

.post__site-name {
  margin: 0 $post__desktop_margin 20px;
  font-weight: 700;
  border-bottom: 1px solid $oc-gray-3;
  text-transform: uppercase;
  padding-bottom: 8px;
  font-size: 14px;
  a {
    color: $oc-gray-5;
    &:hover {
      border-bottom: none;
      text-decoration: none;
      color: $brand-color;
    }
  }
  span {
    float: right;
    color: $oc-gray-5;
  }
  @media only screen and (max-width: 980px) {
    width: $post__mobile_width;
    margin: 0 0 20px;
  }
}

.post {
  @include wrapper;
  padding: 50px 0;
  @media only screen and (max-width: 980px) {
    padding: 28px 0;
  }
  p {
    font-size: 18px;
    line-height: 1.9;
    width: $post__desktop_width;
    margin: 0 $post__desktop_margin 20px;
    word-spacing: -0.07rem;
    @media only screen and (max-width: 980px) {
      width: $post__mobile_width;
      margin: 16px 0;
      font-size: 17px;
      line-height: 1.8;
    }
  }
  hr {
    width: $post__desktop_width;
    margin: 40px $post__desktop_margin;
    border: 0;
    border-top: $border-base;
    @media only screen and (max-width: 980px) {
      width: $post__mobile_width;
      margin: 40px 0;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 76px 200px 32px $post__desktop_margin;
    @media only screen and (max-width: 980px) {
      margin: 56px 0 22px 0;
    }
  }
  .post-title {
    margin-top: 74px;
    margin-bottom: 16px;
    font-size: 38px;
    letter-spacing: -1px;
    line-height: 1.2;
    font-weight: 700;
    @media only screen and (max-width: 980px) {
      margin-top: 29px;
      margin-bottom: 12px;
      font-size: 34px;
      line-height: 1.3;
    }
  }
  .post-meta {
    font-family: $sub-font-family;
    margin-bottom: 68px;
    font-size: 16px;
    color: $text-color-light;
    @media only screen and (max-width: 980px) {
      margin-bottom: 32px;
    }
  }
  ol, ul {
    margin: 44px 250px 40px;
    font-size: 18px;
    line-height: 1.8;
    width: 490px;
    @media only screen and (max-width: 980px) {
      width: $post__mobile_width;
      margin: 32px 0 32px 18px;
      font-size: 17px;
    }
  }
  li {
    margin-bottom: 8px;
  }
  .footnotes p {
    margin: 0;
    width: 520px;
  }
  .post-content {
    margin-bottom: 120px;
    @media only screen and (max-width: 980px) {
      margin-bottom: 80px;
    }
  }
  figure {
    margin-bottom: 40px;
    @media only screen and (max-width: 980px) {
      margin-top: 40px;
    }
  }
}

.fb-like {
  display: block;
  width: $post__desktop_width;
  margin: 0 $post__desktop_margin 30px;
  @media only screen and (max-width: 980px) {
      width: $post__mobile_width;
      margin: 30px 0;
    }

}

.fb-comments {
  margin: 0 202px 30px;
  @media only screen and (max-width: 980px) {
    width: $post__mobile_width;
    margin: 0;
  }
}

.fb-root {
  display: none;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  @media only screen and (max-width: 980px) {
    min-width: 100% !important;
    width: 100% !important;
  }
}

// stylesheet for portfolio.html
.portfolio-container {
  max-width: 780px;
  margin: 20px auto;
  nav {
    text-transform: uppercase;
    margin-top: 36px;
    a {
      color: $oc-gray-6;
      margin-right: 26px;
      margin-left: 28px;
      &:hover {
        border-bottom: initial;
        color: $oc-gray-8;
      }
      &:nth-child(2) {
        margin: 0;
      } 
    }
  }
  .portfolio-header {
    margin-top: 142px;
    h3 {
      font-weight: 300;
      font-size: 38px;
      margin-bottom: 37px;
    }
    h3 sup {
      font-size: 17px;
      font-weight: 700;
      padding-left: 6px;
      position: relative;
      vertical-align: baseline;
      top: -1em;
    }
    p {
      margin-bottom: 32px;
      line-height: 1.8;
    }
    p a {
      border-bottom: initial;
      color: inherit;
      &:hover {
        color: $oc-gray-5;
      }
    }
    .portfolio-header-description {
      font-size: 15px;
      color: $oc-gray-5;
      margin-bottom: 150px;
    }
  }
  .work-card {
    margin-bottom: 90px;
  }
  .work-date {
    border-bottom: 1px solid $oc-gray-3;
    font-size: 16px;
    padding-bottom: 6px;
  }
  .work-date-blue {
    color: #4c80f1;
  }
  .work-date-teal {
    color: $oc-teal-5;
  }
  .work-date-red {
    color: $oc-red-5;
  }
  .work-title-en {
    margin-top: 21px;
    font-size: 32px;
    margin-bottom: 6px;
  }
  .work-title-ko {
    font-weight: 700;
    font-size: 18px;
    color: $oc-gray-6;
    margin-bottom: 32px;
  }
  .work-img-box {
    position: relative;
    border: 1px solid $oc-gray-3;
    &:hover {
      .work-img-hover {
        opacity: 1;
        transition: all 0.4s ease;
        @media (max-width: 768px) {
          opacity: 0;
        }
      }
      .work-img-hover-blue {
        height: 450px;
        background-image: linear-gradient(0deg, rgba(93,140,242,0.00) 10%, #5D8CF2 87%);
      }
      .work-img-hover-teal {
        height: 450px;
        background-image: linear-gradient(0deg, rgba(48,197,143,0.00) 10%, #31C58F 87%);
      }
      .work-img-hover-gray {
        height: 450px;
        background-image: linear-gradient(0deg, rgba(40,42,43,0.00) 10%, #292A2B 87%);
      }
    }
  }
  .work-img-hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .work-img-text {
    padding: 32px;
    color: $oc-gray-1;
    font-size: 18px;
    a {
      color: $oc-white;
      font-weight: 700;
      &:hover {
        border-bottom: initial;
        opacity: 0.8;
        transition: 0.2s;
      }
    }
  }
  .about-card {
    margin-top: 120px;
  }
  .about-card-main-title {
    font-size: 28px;
    font-weight: 700;
    border-bottom: 1px solid $oc-gray-3;
    padding-bottom: 4px;
    margin-bottom: 54px;
  }
  .about-card-detail {
    margin-bottom: 64px;
  }
  .about-card-detail p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .about-card-detail p.second-item {
    margin-top: 30px;
  }
  .about-card-detail-date {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .about-card-detail-title {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  .about-card-detail-jd {
    font-size: 18px;
    color: $oc-gray-6;
    font-weight: 700;
    margin-bottom:30px;
  }
  li {
    margin-left: 21px;
    font-size: 17px;
    margin-bottom: 4px;
  }

  @media (max-width: 768px) {
    max-width: 100%;
    margin: 20px;
    nav span {
      float: right;
    }
    .portfolio-header p {
      margin-bottom: 50px;
    }
    .portfolio-header-description {
      display: none;
    }
  }
  @media (max-width: 480px) {
    max-width: 100%;
    margin: 20px;
  }
}
