---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');
@import '../_sass/open-color';


// Our variables
$base-font-family: spoqahansans, lato, 'Noto Sans KR', "Apple SD Gothic Neo", "Nanum Barun Gothic", "Nanum Gothic", Verdana, Arial, "Malgun Gothic", Dotum, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$sub-font-family:  'Roboto Slab', serif;

$spacing-unit:     30px;

$text-color-light: $oc-gray-5;
$text-color:       $oc-gray-7;
$text-color-dark:  $oc-gray-9;
$background-color: $oc-white;
$brand-color:      $oc-blue-5;

$border-color:     $oc-gray-3;
$border-base:      1px solid $border-color;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  $oc-gray-8;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// post variables
$post__desktop_margin:  210px;
$post__desktop_width:   540px; //960px - $post__desktop_margin*2


@mixin wrapper {
  width: 960px;
  min-height: 100%;
  margin: 0 auto;
  @media only screen and (max-width: 980px) {
    width: 82%;
  }
}

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

// User adhoc style 
// FIXME: when it turned to blog style, you should delete it


body, html {
  height: 100%;
}

body {
  word-break: keep-all;
}


// selection

.main__container {
  color: $text-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include wrapper;
}

.main__subject_EN {
  font-family: $sub-font-family;
  font-size: 34px;
  line-height: 1.4;
  padding-top: 70px;
  @media only screen and (max-width: 980px) {
    font-size: 24px;
    padding-top: 40px;
  }
  @media only screen and (max-width: 320px) {
    font-size: 20px;
  }
}

.main__subject_KR {
  font-size: 13px;
  color: $text-color-light;
  line-height: 1.8;
  margin-top: 37px;
  margin-bottom: 78px;
  @media only screen and (max-width: 980px) {
    font-size: 16px;
    margin-bottom: 40px;
  }
  @media only screen and (max-width: 320px) {
    font-size: 14px;
  }
}

.main__list {
  margin-bottom: 36px;
}

.main__list div {
  font-size: 17px;
  color: $text-color-light;
  text-transform: lowercase;
  margin-bottom: 16px;
  font-family: $sub-font-family;
  border-top: $border-base;
  padding-top: 20px;
}

.main__list a {
  color: $text-color;
  &:hover {
    color: $text-color-dark;
  }
}

.main__list li {
  list-style: none;
  margin-left: 0;
  font-size: 16px;
  line-height: 1.7;
  @media only screen and (max-width: 980px) {
    margin-left: 17px;
    list-style: circle;
  }
}

.main__list li span {
  color: $text-color-light;
  padding-left: 6px;
}

.main__list__writing li {
  font-size: 15.7px;
  line-height: 1.8;
}

.main__footer {
  font-size: 16px;
  padding-bottom: 36px;
  @media only screen and (max-width: 980px) {
    border-top: $border-base;
    padding-top: 20px;
  }
}

.post__site-name {
  margin: 0 $post__desktop_margin 20px;
  font-weight: 700;
  border-bottom: 1px solid $oc-gray-3;
  text-transform: uppercase;
  padding-bottom: 8px;
  font-size: 14px;
  a {
    color: $oc-gray-5;
    &:hover {
      border-bottom: none;
      text-decoration: none;
      color: $brand-color;
    }
  }
  span {
    float: right;
    color: $oc-gray-5;
  }
}

.post {
  @include wrapper;
  padding: 50px 0;
  p {
    font-size: 18px;
    line-height: 1.9;
    width: $post__desktop_width;
    margin: 0 $post__desktop_margin 20px;
    word-spacing: -0.07rem;
  }
  hr {
    width: $post__desktop_width;
    margin: 40px $post__desktop_margin;
    border: 0;
    border-top: $border-base;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 76px 200px 32px $post__desktop_margin;
  }
  .post-title {
    margin-top: 84px;
    margin-bottom: 16px;
    font-size: 38px;
    letter-spacing: -1px;
    line-height: 1.2;
    font-weight: 700;
  }
  .post-meta {
    font-family: $sub-font-family;
    margin-bottom: 68px;
    font-size: 16px;
    color: $text-color-light;
  }
  ol, ul {
    margin: 44px 250px 40px;
    font-size: 18px;
    line-height: 1.8;
    width: 490px;
  }
  li {
    margin-bottom: 8px;
  }
  .footnotes p {
    margin: 0;
    width: 520px;
  }
  .post-content {
    margin-bottom: 120px;
  }
  figure {
    margin-bottom: 40px;
  }
}

.fb-like {
  display: block;
  width: $post__desktop_width;
  margin: 0 $post__desktop_margin 30px;
}

.fb-comments {
  margin: 0 202px 30px;
}

.fb-root {
  display: none;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  @media only screen and (max-width: 980px) {
    min-width: 100% !important;
    width: 100% !important;
  }
}
