---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');


// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #212529;
$background-color: #fdfdfd;
$brand-color:      #329af0;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

// User adhoc style 
// FIXME: when it turned to blog style, you should delete it


body, html {
  height: 100%;
}

body {
  word-break: keep-all;
}


// selection

.main__container {
  color: #4D5256;
  font-family: spoqahansans, lato, 'Noto Sans KR', "Apple SD Gothic Neo", "Nanum Barun Gothic", "Nanum Gothic", Verdana, Arial, "Malgun Gothic", Dotum, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 960px;
  min-height: 100%;
  margin: 0 auto;
  @media only screen and (max-width: 980px) {
    width: 82%;
  }
}

.main__subject_EN {
  font-family: 'Roboto Slab', serif;
  font-size: 34px;
  line-height: 1.4;
  padding-top: 70px;
  @media only screen and (max-width: 980px) {
    font-size: 24px;
    padding-top: 40px;
  }
  @media only screen and (max-width: 320px) {
    font-size: 20px;
  }
}

.main__subject_KR {
  font-size: 13px;
  color: #A9AFB3;
  line-height: 1.8;
  margin-top: 37px;
  margin-bottom: 78px;
  @media only screen and (max-width: 980px) {
    font-size: 16px;
    margin-bottom: 40px;
  }
  @media only screen and (max-width: 320px) {
    font-size: 14px;
  }
}

.main__list {
  margin-bottom: 36px;
}

.main__list div {
  font-size: 17px;
  color: #A9AFB3;
  text-transform: lowercase;
  margin-bottom: 16px;
  font-family: 'Roboto Slab', serif;
  border-top: 1px solid #EAEEEF;
  padding-top: 20px;
}

.main__list a {
  color: #4D5256;
  &:hover {
    color: $text-color;
  }
}

.main__list li {
  list-style: none;
  margin-left: 0;
  font-size: 16px;
  line-height: 1.7;
  @media only screen and (max-width: 980px) {
    margin-left: 17px;
    list-style: circle;
  }
}

.main__list li span {
  color: #A9AFB3;
  padding-left: 6px;
}

.main__list__writing li {
  font-size: 15.7px;
  line-height: 1.8;
}

.main__footer {
  font-size: 16px;
  padding-bottom: 36px;
  @media only screen and (max-width: 980px) {
    border-top: 1px solid #EAEEEF;
    padding-top: 20px;
  }
}