<div class="mail-footer">
  <div class="mail-footer-footnote">
    <div class="mail-footer-footnote-border">
    </div>
    <p class="mail-footer-footnote-group">문의사항이 있으면 <a>카카오톡 도도 고객센터</a>로 문의 주십시오.</p>
    <p class="mail-footer-footnote-group">감사합니다.<br />도도 팀 드림</p>
  </div>
  <div class="mail-footer-signature">
    <span class="mail-spoqa-logo"></span><span class="mail-footer-signature-branches">seoul ∙ busan ∙ tokyo</span>
  </div>
  <div class="mail-footer-info">
    서울특별시 강남구 테헤란로 420 하이리빙빌딩 9층 (서울 지사) <br class="nl" /><b>대표:</b> 최재승, SOHN GRANT SUNGHOON <br class="nl" /><b>사업자 등록번호:</b> 211-88-59899 <br class="nl" /><b>통신판매번호:</b> 2013-서울강남-02586 <br class="nl" /><b>FAX:</b> 02-544-6460
  </div>
</div>
