// User adhoc style 
// FIXME: when it turned to blog style, you should delete it

body, html {
  height: 100%;
}

body {
  color: #231f20;
}

// selection

*::selection {
  background: #eaedef;
}
*::-moz-selection {
  background: #eaedef;
}
*::-webkit-selection {
  background: #eaedef;
}

a {
  color: #231f20;
  text-decoration: none;
}

a:visited {
  color: #231f20;
}

a:hover {
  color: #8f63f4;
  text-decoration: none;
  transition-duration: 0.2s;
}


p {
  font-family: "San Francisco", sans-serif;
  text-transform: lowercase;
  font-size: 18px;
  margin: 24px;
  font-weight: normal;
  line-height: 1.5em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.contact {
  display: inline-flex;
  margin-right: -6px;
}