<!DOCTYPE html>
<html>
  <head>
    <title>Younghwa Kang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ base_path }}/css/main.css">
    <meta property="og:title" content="Younghwa Kang | 강영화">
    <meta property="og:type" content="Personal Website">
    <meta property="og:url" content="http://youngkang.me">
    <meta property="og:site_name" content="Younghwa Kang | 강영화">
    <meta property="og:description" content="Younghwa Kang. Visual designer at Spoqa. 강영화는 스포카에서 비주얼 디자이너로 일하고 있습니다.">
  </head>
  <body>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '771526109643094',
            xfbml      : true,
            version    : 'v2.5'
          });
        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
      </script>
      <div class="container">
        <div>
        <p>
            Younghwa Kang.<br>
            Visual designer at<br>
            <a href="http://www.spoqa.com">Spoqa</a>.<br>
            Currently exploring<br>
            interaction design island.
        </p>
      </div>
      <div>
        <div class="contact">
          <p>
           <a href="http://twitter.com/youngkang_UI">twitter</a><br>
           <a href="http://dribbble.com/young_kang">dribbble</a>
          </p>
        </div>

        <div class="contact">
          <p>
           <a href="http://ui-practices.me">ui-practices.me</a><br>
           <a href="mailto:youngkang.design@gmail.com">e-mail</a>
          </p>
        </div>
      </div>
  </body>
</html>
