{% include header.html %}

      <div class="main__container">
        <div>
          <p class="main__subject_EN">
            Hello, I’m Younghwa Kang.<br>
            You can call me Gloria too.<br>
            I’m currently exploring web typography design island.<br>
            Also I’m product designer at <a href="http://www.spoqa.com/" target="_blank">Spoqa</a>.
          </p>
          <p class="main__subject_KR">
            안녕하세요. <a href="http://www.spoqa.com/" target="_blank">스포카</a>에서 UI 디자이너로 일하는 강영화입니다.<br>
            인터랙티브 디자인 등, 웹디자인의 다양한 분야에 관심이 많습니다.<br>
            특히 요즘에는 웹 타이포그래피에 흥미를 갖고 트렌드를 살펴보고 있습니다.
          </p>
          <div class="main__list main__list__writing">
            <div>writing</div>
            <ul>
              <li><a href="https://spoqa.github.io/2016/06/03/localize-type-setting.html" target="_blank">다국어 환경에 맞게 타이포그래피 세팅하기 - 다국어 반응형 타이포그래피</a><span>KR</span></li>
              <li><a href="https://spoqa.github.io/2015/10/14/making-spoqa-han-sans.html" target="_blank">스포카 한 산스와 글꼴 경량화</a><span>KR</span></li>
            </ul>
            </div>
          <div class="main__list">
            <div>work</div>
            <ul>
              <li><a href="http://youngkang.me/hangul-webfont-showcase/" target="_blank">hangul-webfont-showcase(한글 웹폰트 글꼴보기집)</a></li>
              <li><a href="http://ask-answer-2016.info/" target="_blank">ask-answer-2016.info</a></li>
              <li><a href="http://ui-practices.me/" target="_blank">ui-practices.me</a></li>
            </ul>
          </div>
        </div>
        <div class="main__footer">Follow me on <a href="https://twitter.com/youngkang_UI" target="_blank">Twitter</a>, <a href="https://github.com/young-hwa">Github</a>, <a href="https://dribbble.com/young_kang" target="_blank">Dribbble</a> and <a href="https://www.instagram.com/_ya_ho/" target="_blank">Instagram</a>.</div>
      </div>
  </body>
</html>
