{% include header.html %}

    <div class="post">

      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>

      <article class="post-content">
        {{ content }}
      </article>

      <div class="fb">
        <div 
          class="fb-like" 
          data-href="http://youngkang.me{{ page.url }}" 
          data-layout="button_count" 
          data-action="like" 
          data-size="large" 
          data-show-faces="true" 
          data-share="true"></div>
        <div 
          class="fb-comments" 
          data-href="http://youngkang.me{{ page.url }}" 
          data-width="556" 
          data-numposts="5"
          ></div>
      </div>
    </div>
  </body>
</html>
